<!DOCTYPE html>
<html>

<head>


	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link href="{{url_for('static', filename='css/home.css')}}" rel="stylesheet" type="text/css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>

	<style>
		.hal {
			width: 200px;
			height: 200px;
		}
	</style>
</head>

<body style="background-color: black;">

	<!-- 
	<div id="myNav" class="overlay">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<div class="overlay-content" style="margin-top:-15px">
			<a href="home.html" style=" font-family: Impact">HOME</a>
			<a href="services.html" style=" font-family: Impact">SERVICES</a>
			<a href="about.html" style=" font-family: Impact">ABOUT</a>
			<a href="contact.html" style=" font-family: Impact">CONTACT</a>
		</div>
	</div>
	-->
	<div id="header" >

		<div class="logo"><i class="fa fa-home fa-2x"></i> </div>
		<div class="heading">
			<svg xmlns="http://www.w3.org/2000/svg" width="60" height="150" fill="currentColor" class="bi bi-camera"
				viewBox="0 0 16 16">
				<path
					d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z" />
				<path
					d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
			</svg>
			<!-- <p><button type="button" class="cam btn btn-danger" onclick="openCamera()"> Get Started <i
						class="fa fa-arrow-right" aria-hidden="true"></i></button></p> -->
<p><a href="/opencamera" class="cam btn btn-danger"> Get Started <i class="fa fa-arrow-right"
			aria-hidden="true"></i></a></p>
		</div>
		<span id="demo" class="hamburger" style="font-size:60px;cursor:pointer;position: absolute"
			onmouseover="mouseOver()" onmouseout="mouseOut()" onclick="openNav()"></span>
	</div>
<div>
</div>




	
		<div class="row" style="height:550px;border-bottom: 8px solid #222">
			<div class="col">
				<h1 id="" class="our-story-card-title" data-uia="animation-card-title">Enjoy on your TV.</h1>
				<h2 id="" class="our-story-card-subtitle" data-uia="our-story-card-subtitle"
					style="color: white; ">PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players 
					more.</h2>
			</div>
			<div class="col">
				<div class="our-story-card-animation-container" style="height: 500px;"><img alt="" class="our-story-card-img"
						src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png"
						data-uia="our-story-card-img">
					<div class="our-story-card-animation" style="position: relative;top:-385px  ; left:71px"><video class="our-story-card-video" autoplay="" playsinline="" muted="" loop="">
							<source
								src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-in-0819.m4v"
								type="video/mp4">
						</video>
						<div class="our-story-card-animation-text"></div>
					</div>
				</div>
			</div>
		
	</div>
	





<div  style="height: 550px;
margin: 9px;
margin-bottom: 5px;
display: flex;
align-items: center;
color: wheat;border-bottom: 8px solid #222">

	<div class="images" >

		<img style="width: 500px; height: 500px;" src="{{url_for('static', filename='games.webp')}}" align=left />
	</div>
	<div style="margin-left: 15	px;">
			<h2>Discover recommended games</h2>
	</div>
</div>


<div  style="height: 500px;
margin: 9px;
display: flex;
align-items: center;
color: wheat;border-bottom: 8px solid #222""	>
	<div class="texts" style="width: 500px;" >
		<h1>Music <br> For Your Listening Pleasure! </h1>
	</div>
	
	<div>
<img style="width: 650px;margin-left: 500px;" src="{{url_for('static', filename='music.webp')}}" align="right" />
	</div>
</div>
	
<!-- 
<div  style="height: 550px;
margin: 9px;
margin-bottom: 5px;
display: flex;
align-items: center;
color: wheat;border-bottom: 8px solid #222">

	<div class="images" >

		<img style="width: 500px; height: 500px;" src="{{url_for('static', filename='books.png')}}" align=left />
	</div>
	<div style="margin-left: 100px;">
			<h2>Enjoy the finest collections of books!</h2>
	</div>
</div> -->




	<div id="footer1">
		<div class="contact">Connect to us</div>
		<a href="#" class="fa fa-twitter"></a>
		<a href="#" class="fa fa-instagram"></a>
		<a href="#" class="fa fa-facebook"></a>
		<a href="#" class="fa fa-linkedin"></a>
	</div>






	<button onclick="topFunction()" id="myBtn" title="Go to top"><span class="arrow arrow-top"></span></button>

	<script>

		// var sw = screen.width;

		// if (sw > 600) {
		// 	document.getElementById("service").style.display = "none";

		// }
		// if (sw < 600) {
		// 	document.getElementById("service").style.display = "none";

		// }


		// if (sw > 600) {
		// 	document.getElementById("shead").style.display = "none";

		// }
		// if (sw < 600) {
		// 	document.getElementById("shead").style.display = "none";

		// 	


		var cur_url = window.location.href.split('#')[1];
		var pri = parseInt(cur_url, 10);
		var mybutton = document.getElementById("myBtn");

		var foot = document.getElementById("footer1");
		var stopheight = parseInt(document.body.scrollHeight) - parseInt(foot.scrollHeight);

		window.onscroll = function () { scrollFunction() };

		function scrollFunction() {

			if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {

				mybutton.style.display = "block";
				var h = window.innerHeight;
				var mi = parseInt(h) - 150;
				var offtop = parseInt(document.documentElement.scrollTop) + mi;
				var s = offtop.toString();
				var f = s.concat("px");
				var g = 4390 + mi;
				var strg = g.toString();
				var fixbut = strg.concat("px");

				if (document.documentElement.scrollTop < 4390) {
					mybutton.style.top = f;
				}
				else {
					mybutton.style.top = fixbut;
				}

			}
			else {
				mybutton.style.display = "none";
			}



		}
		function topFunction() {
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
		}



		function myFunction(x) {
			x.classList.toggle("change");
		}
		function mouseOver() {
			document.getElementById("demo").style.opacity = "0.5";
		}
		function mouseOut() {
			document.getElementById("demo").style.opacity = "1";
		}

		function openNav() {
			if (sw <= 600) {
				document.getElementById("myNav").style.width = "100vw";
			}
			else {
				document.getElementById("myNav").style.width = "25vw";
			}
			document.getElementById("header").setAttribute('class', 'blur');

		}

		function closeNav() {
			document.getElementById("myNav").style.width = "0vw";
			document.getElementById("header").removeAttribute('class', 'blur');
		}



	</script>
	<script type="text/javascript" src="{{url_for('static', filename='home.js')}}"></script>


</body>

</html>