<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="..\css\about.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="myNav" class="overlay" >
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" >&times;</a>
	  <div class="overlay-content" style="margin-top:-15px">
		<a href="home.html" style=" font-family: Impact">HOME</a>
		<a href="services.html" style=" font-family: Impact">SERVICES</a>
		<a href="about.html" style=" font-family: Impact">ABOUT</a>
		<a href="contact.html" style=" font-family: Impact">CONTACT</a>
	  </div>
</div>
<div id="header" width="100vw" height="40vh">
	<a href="home.html"><div class="logo"><img src="" alt="logo" id="logoimg" width="322.67" height="120.3"></div></a>
	<div class="heading">ABOUT</div>
	<span id="demo" class="hamburger" style="font-size:60px;cursor:pointer;position: absolute" onmouseover="mouseOver()" onmouseout="mouseOut()" onclick="openNav()"></span>

</div>

<div id="about">
<div style="margin-top:30px;padding:15px 15px 15px;font-size:40px;color:grey;font-family:Impact;margin-left:98px;margin-right:92px">
	<div id="wheadmob" style="font-size:35px;color:#450D2A ;font-family:Impact;">
		WHAT WE ARE ABOUT<p class="border" style="margin-left:290px;position:absolute;margin-top:-35.5px"></p>
	</div>
	<br>
</div>

<div style="margin-top:-40px;margin-left:104px;margin-right:100px">
<div class="pic"> hellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohello. hellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohello. hellohellohellohellohellohellohellohellohellohello. hellohellohellohellohellohellohellohellohellohellohello
</div><br>
</div>

<!--
<div style="margin-top:-10px;padding:15px 15px 15px;font-size:40px;color:grey;font-family:Impact;margin-left:98px;margin-right:92px">
	<div id="wheadmob" style="font-size:35px;color:grey;font-family:Impact;">
		OUR MISSION<p class="border" style="margin-left:186px;position:absolute;margin-top:-36px"></p>
	</div>
	<br><br>
</div>

<div style="margin-top:-90px;padding:15px 15px 15px;font-size:40px;color:grey;font-family:Impact;margin-left:98px;margin-right:92px">
	<div id="wheadmob" style="font-size:35px;color:grey;font-family:Impact;">
				OUR VISION<p class="border" style="margin-left:162px;position:absolute;margin-top:-36px"></p>
			</div>
	<br>
</div>
-->
<br><br>

<div style="margin-top:-30px;padding:15px 15px 15px;font-size:40px;color:grey;font-family:Impact;margin-left:98px;margin-right:92px">
	<div id="wheadmob" style="font-size:35px;color:#450D2A ;font-family:Impact;">
				MEET OUR TEAM<p class="border" style="margin-left:218px;position:absolute;margin-top:-36px"></p>
			</div>
</div>

<div style="padding:15px 15px 15px;font-size:40px;color:grey;font-family:century gothic;font-weight:bold;margin-left:94px;margin-right:92px" > 
	<div class="row">
	  <div class="column">
		<div class="container2">
			<img src="..\images\image1.jpg" alt="image1" style="width:368px;height:370px">
			<div class="container1">
				<div class="topleft"><p><strong>Name<br>Job profile</strong></p></div>
			</div>
		</div>
	  </div>
	  <div class="column">
		<div class="container2">
			<img src="..\images\image1.jpg" alt="image2" style="width:368px;height:370px">
			<div class="container1">
				<div class="topleft"><p><strong>Name<br>Job profile</strong></p></div>
			</div>
		</div>
	  </div>
	  <div class="column">
	    <div class="container2">
			<img src="..\images\image1.jpg" alt="image3" style="width:368px;height:370px">
			<div class="container1">
				<div class="topleft"><p><strong>Name<br>Job profile</strong></p></div>
			</div>
		</div>
	  </div>
	</div>
	<div class="row">
	  <div class="column">
		<div class="container2">
			<img src="..\images\image1.jpg" alt="image1" style="width:368px;height:370px">
			<div class="container1">
				<div class="topleft"><p><strong>Name<br>Job profile</strong></p></div>
			</div>
		</div>
	  </div>
	</div>
</div>
</div>


<table class="center" id="about_mob" style="width:86vw">
     <tr>
	   <th>
		<div style="font-size:35px;color:#450D2A ;font-family:Impact">
			<div id="wheadmob" style="font-size:32px;color:grey;font-family:Impact;position:absolute;margin-top:20px">
				WHAT WE ARE ABOUT<p class="border" style="margin-top:-33px;position:absolute;margin-left:272px"></p>
			</div>
		</div>
		<br>
	  </th>
	  </tr>
	  <tr>
	  <th>
		<div class="pic" style="margin-top:40px;width:86.2vw;font-family:century gothic;font-size:13.5px;font-weight:lighter;text-align: justify;text-justify: inter-word;"> hellohellohellohello. hellohellohellohellohello. hellohellohellohellohello. hellohellohellohellohellohellohellohellohellohello. hellohellohellohello. hellohellohellohellohellohello. hellohellohellohellohello. hellohellohellohellohellohellohello. hellohellohellohellohellohellohellohellohellohello. hellohellohellohellohellohellohellohellohellohellohello
      </div>
	  </th>
	  </tr>
	  <!--
	  <tr>
	   <th>
	   <br><br><br><br>
		
		<div style="font-size:35px;color:grey;font-family:Impact">
			<div id="wheadmob" style="font-size:32px;color:grey;font-family:Impact;position:absolute;margin-top:-33px">
				OUR MISSION<p class="border" style="margin-top:-32px;position:absolute;margin-left:175px"></p>
			</div>
		</div>
	  </th>
	  </tr>
	  <tr>
	   <th>
	   <br><br><br><br>
		
		<div style="font-size:35px;color:grey;font-family:Impact">
			<div id="wheadmob" style="font-size:32px;color:grey;font-family:Impact;position:absolute;margin-top:-33px">
				OUR VISION<p class="border" style="margin-top:-32px;position:absolute;margin-left:152px"></p>
			</div>
		</div>
	  </th>
	  </tr>
	  -->
	  
	 <tr>
		<th>
		<br><br><br><br>
		
		<div style="font-size:35px;color:#450D2A ;font-family:Impact">
			<div id="wheadmob" style="font-size:32px;color:grey;font-family:Impact;position:absolute;margin-top:-33px">
				MEET OUR TEAM<p class="border" style="margin-top:-32px;position:absolute;margin-left:203px"></p>
			</div>
		</div>
		<br><br>
		</th>
	</tr>
	<tr>
	   <th>
		<div class="container2_mob" >
			<img src="..\images\image1.jpg" alt="image1"  >
			<div class="container1">
				<div class="topleft"><p><strong>Name<br>Job profile</strong></p></div>
			</div>
		</div>
	  </th>
	 </tr>
	 <tr>
	   <th>
		<div class="container2_mob" >
			<img src="..\images\image1.jpg" alt="image1"  >
			<div class="container1">
				<div class="topleft"><p><strong>Name<br>Job profile</strong></p></div>
			</div>
		</div>
	  </th>
	 </tr>
	 <tr>
	   <th>
		<div class="container2_mob" >
			<img src="..\images\image1.jpg" alt="image1"  >
			<div class="container1">
				<div class="topleft"><p><strong>Name<br>Job profile</strong></p></div>
			</div>
		</div>
	  </th>
	 </tr>
	 <tr>
	   <th>
		<div class="container2_mob" >
			<img src="..\images\image1.jpg" alt="image1"  >
			<div class="container1">
				<div class="topleft"><p><strong>Name<br>Job profile</strong></p></div>
			</div>
		</div>
	  </th>
	 </tr>
	
</table>



<div id="footer">
	<br><br>
	<p>LET US HELP YOU..</p>
	<p><a href="contact.html"><button class="btn success">CONNECT</button></a></p>
</div>

<div id="footer1">
	<div class="contact">CONTACT NUMBER</div>
	    <a href="#" class="fa fa-twitter"></a>
		<a href="#" class="fa fa-instagram"></a>
		<a href="#" class="fa fa-facebook"></a>
		<a href="#" class="fa fa-linkedin"></a>
</div>



<button onclick="topFunction()" id="myBtn" title="Go to top"><span class="arrow arrow-top"></span></button>

<script>

var cur_url=window.location.href.split('#')[1];
var pri=parseInt(cur_url,10);
var mybutton = document.getElementById("myBtn");
var foot=document.getElementById("footer1");
var stopheight=parseInt(document.body.scrollHeight)-parseInt(foot.scrollHeight);

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
	
  if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0 ) {
	
    mybutton.style.display = "inline-block";
	var h = window.innerHeight;
	var mi=parseInt(h)-150;
	var offtop=parseInt(document.documentElement.scrollTop)+mi;
	var s=offtop.toString();
	var f=s.concat("px");
	var g=4390+mi;
	var strg=g.toString();
	var fixbut=strg.concat("px");
	
	if(document.documentElement.scrollTop<4390){
	mybutton.style.top=f;
	}
	else{
	mybutton.style.top=fixbut;
	}
	
  }
  else {
    mybutton.style.display = "none";
  }
  
  
 
}
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}

function myFunction(x) {
  x.classList.toggle("change");
}
function mouseOver() {
  document.getElementById("demo").style.opacity = "0.5";
}
function mouseOut() {
  document.getElementById("demo").style.opacity = "1";
}

var sw=screen.width;
if(sw>600){
document.getElementById("about_mob").style.display="none";

}
if(sw<600){
document.getElementById("about").style.display="none";

}
function openNav() {
  if(sw<=600){
  document.getElementById("myNav").style.width = "100vw";
  }
  else{
  document.getElementById("myNav").style.width = "25vw";
  }
  document.getElementById("header").setAttribute('class', 'blur');
  
}

function closeNav() {
  document.getElementById("myNav").style.width = "0vw";
  document.getElementById("header").removeAttribute('class','blur');
}


</script>

</body>
</html>