<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="..\css\services.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="myNav" class="overlay" >
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" >&times;</a>
	  <div class="overlay-content" style="margin-top:-15px">
		<a href="home.html" style=" font-family: Impact">HOME</a>
		<a href="services.html" style=" font-family: Impact">SERVICES</a>
		<a href="about.html" style=" font-family: Impact">ABOUT</a>
		<a href="contact.html" style=" font-family: Impact">CONTACT</a>
	  </div>
</div>
<div id="header" width="100vw" height="40vh">
	<a href="home.html"><div class="logo"><img src="" alt="logo" id="logoimg" width="322.67" height="120.3"></div></a>
	<div class="heading">SERVICES</div>
	<div class="dropdown">
	  <button class="dropbtn">Search </button>
	  <div class="dropdown-content">
		<a href="#">Link 1</a>
		<a href="#">Link 2</a>
		<a href="#">Link 3</a>
	  </div>
	</div>
	<span id="demo" class="hamburger" style="font-size:60px;cursor:pointer;position: absolute" onmouseover="mouseOver()" onmouseout="mouseOut()" onclick="openNav()"></span>

</div>

<div id="services">
<div class="row"  style="margin-top:-50px">
  <div class="column">
	<div class="container" width="117mm"  height="120.089mm">
	<p><a href="serviceslink.html#2">
    <div class="card" >
      <figure>
		<img src="..\images\strategy.png" alt="image" style="width:36%">
		  <figcaption>DIGITAL&nbspSTRATEGY </figcaption>
		  <div class="overlay2">
			<div class="text"><div class="a">Digital Strategy</div><br>Audit<br>Content<br>Videography<br>Photoraphy</div>
		  </div>
		</figure>
		</div>
		</a></p>
    </div>
  </div>

  <div class="column">
	<div class="container" width="117mm"  height="120.089mm">
	<p><a href="serviceslink.html#3">
    <div class="card" >
      <figure>
		  <img src="..\images\media.png" alt="image" style="width:40%">
		  <figcaption>INTERNET ADVERTISING</figcaption>
		  <div class="overlay2">
			<div class="text"><div class="a">Internet Advertising</div><br>Audit<br>Content<br>Videography<br>Photoraphy</div>
		  </div>
		</figure>
		</div>
		</a></p>
    </div>
  </div>
  
  <div class="column">
	<div class="container" width="117mm"  height="120.089mm">
	<p><a href="serviceslink.html#4">
    <div class="card">
      <figure>
		  <img src="..\images\design.png" alt="image" style="width:40%">
		  <figcaption>DESIGN AND DEVELOPMENT</figcaption>
		  <div class="overlay2">
			<div class="text"><div class="a">Design And Development</div><br>Audit<br>Content<br>Videography<br>Photoraphy</div>
		  </div>
		</figure>
		</div>
		</a></p>
    </div>
  </div>
</div>
<br><br><br>
<div class="row" style="margin-top:-50px;">
  <div class="column">
	<div class="container" width="117mm"  height="120.089mm">
	<p><a href="serviceslink.html#5">
    <div class="card">
      <figure>
		  <img src="..\images\search.png" alt="image" style="width:40%">
		  <figcaption>CONTENT MARKETING</figcaption>
		  <div class="overlay2">
			<div class="text"><div class="a">Content Marketing</div><br>Audit<br>Content<br>Videography<br>Photoraphy</div>
		  </div>
		</figure>
		</div>
		</a></p>
    </div>
  </div>

  <div class="column">
	<div class="container" width="117mm"  height="120.089mm">
	<p><a href="serviceslink.html#6">
    <div class="card">
      <figure>
		  <img src="..\images\mobile.png" alt="image" style="width:25%">
		  <figcaption>CONSULTING AND&nbspEDUCATION</figcaption>
		  <div class="overlay2">
			<div class="text"><div class="a">Consulting And&nbspEducation</div><br>Audit<br>Content<br>Videography<br>Photoraphy</div>
		  </div>
		</figure>
		</div>
		</a></p>
    </div>
  </div>
  
  <div class="column">
	<div class="container" width="117mm"  height="120.089mm">
	<p><a href="serviceslink.html#7">
    <div class="card" >
      <figure>
		  <img src="..\images\media.png" alt="image" style="width:40%">
		  <figcaption>VISUAL CONTENT</figcaption>
		  <div class="overlay2">
			<div class="text"><div class="a">Visual Content</div><br>Audit<br>Content<br>Videography<br>Photoraphy</div>
		  </div>
		</figure>
    </div>
	</a></p>
	</div>
  </div>
</div>
</div>


<table class="center" id="services_mob">
<tr>
	<td>
		<div class="container_mob">
	<p><a href="serviceslink.html#2">
    <div class="card2" >
      <figure>
		<img src="..\images\strategy.png" alt="image" style="width:60%;margin-left:1vw;margin-top:4vw">
		  <figcaption style="margin-left:-2vw">DIGITAL <br> STRATEGY</figcaption>
		  <div class="overlay2_mob">
			</div>
		</figure>
		</div>
		</a></p>
    </div>
	</td>
	<td>
		<div class="container_mob">
	<p><a href="serviceslink.html#3">
    <div class="card3" >
      <figure>
		  <img src="..\images\media.png" alt="image" style="width:50%;margin-left:3vw;margin-top:3.5vw">
		  <figcaption style="margin-left:-2vw">INTERNET ADVERTISING</figcaption>
		  <div class="overlay2_mob">
			</div>
		</figure>
		</div>
		</a></p>
    </div>
	</td>
</tr>
<tr>
	<td>
		<div class="container_mob">
	<p><a href="serviceslink.html#4">
    <div class="card2">
      <figure>
		  <img src="..\images\design.png" alt="image" style="width:50%;margin-left:2vw;margin-top:4vw">
		  <figcaption style="margin-left:-5vw">DESIGN AND DEVELOPMENT</figcaption>
		  <div class="overlay2_mob">
			</div>
		</figure>
		</div>
		</a></p>
    </div>
	</td>
	<td>
		<div class="container_mob">
	<p><a href="serviceslink.html#5">
    <div class="card3">
      <figure>
		  <img src="..\images\search.png" alt="image" style="width:50%;margin-left:2vw;margin-top:4vw">
		  <figcaption style="margin-left:-2vw" >CONTENT MARKETING</figcaption>
		  <div class="overlay2_mob">
			</div>
		</figure>
		</div>
		</a></p>
    </div>
	</td>
</tr>
<tr>
	<td>
		<div class="container_mob">
	<p><a href="serviceslink.html#6">
    <div class="card2">
      <figure>
		  <img src="..\images\mobile.png" alt="image" style="width:30%;margin-left:3.5vw;margin-top:4vw">
		  <figcaption style="margin-left:-7vw;display:inline-table">CONSULTING AND&nbspEDUCATION </figcaption>
		  <div class="overlay2_mob">
			</div>
		</figure>
		</div>
		</a></p>
    </div>
	</td>
	<td>
		<div class="container_mob">
	<p><a href="serviceslink.html#7">
    <div class="card3" >
      <figure>
		  <img src="..\images\media.png" alt="image" style="width:60%;margin-left:3vw;margin-top:5vw">
		  <figcaption style="margin-left:-1vw">VISUAL CONTENT</figcaption>
		  <div class="overlay2_mob">
			</div>
		</figure>
    </div>
	</a></p>
	</div>
	</td>
</tr>




</table>







 <div id="footer">
	<br><br>
	<p>LET US HELP YOU..</p>
	<p><a href="contact.html"><button class="btn success">CONNECT</button></a></p>
</div>

<div id="footer1">
	<div class="contact">CONTACT NUMBER</div>
	    <a href="#" class="fa fa-twitter"></a>
		<a href="#" class="fa fa-instagram"></a>
		<a href="#" class="fa fa-facebook"></a>
		<a href="#" class="fa fa-linkedin"></a>
</div>

<button onclick="topFunction()" id="myBtn" title="Go to top"><span class="arrow arrow-top"></span></button>

<script>

var cur_url=window.location.href.split('#')[1];
var pri=parseInt(cur_url,10);
var mybutton = document.getElementById("myBtn");
var foot=document.getElementById("footer1");
var stopheight=parseInt(document.body.scrollHeight)-parseInt(foot.scrollHeight);

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
	
  if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0 ) {
	
    mybutton.style.display = "inline-block";
	var h = window.innerHeight;
	var mi=parseInt(h)-150;
	var offtop=parseInt(document.documentElement.scrollTop)+mi;
	var s=offtop.toString();
	var f=s.concat("px");
	var g=4390+mi;
	var strg=g.toString();
	var fixbut=strg.concat("px");
	
	if(document.documentElement.scrollTop<4390){
	mybutton.style.top=f;
	}
	else{
	mybutton.style.top=fixbut;
	}
	
  }
  else {
    mybutton.style.display = "none";
  }
  
  
 
}
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}


function myFunction(x) {
  x.classList.toggle("change");
}
function mouseOver() {
  document.getElementById("demo").style.opacity = "0.5";
}
function mouseOut() {
  document.getElementById("demo").style.opacity = "1";
}

var sw=screen.width;
if(sw>600){
document.getElementById("services_mob").style.display="none";

}
if(sw<600){
document.getElementById("services").style.display="none";

}
function openNav() {
  if(sw<=600){
  document.getElementById("myNav").style.width = "100vw";
  }
  else{
  document.getElementById("myNav").style.width = "25vw";
  }
  document.getElementById("header").setAttribute('class', 'blur');
  
}

function closeNav() {
  document.getElementById("myNav").style.width = "0vw";
  document.getElementById("header").removeAttribute('class','blur');
}
</script>

</body>
</html>